# Copy this file and rename to .env

SUPABASE_AUTH_GOOGLE_CLIENT_ID="200473976893-q0vnn5t5bltdpjhv97kd0a668k94ns16.apps.googleusercontent.com"
SUPABASE_AUTH_GOOGLE_SECRET_KEY="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"

SUPABASE_AUTH_SMTP_HOST="smtp.resend.com"
SUPABASE_AUTH_SMTP_PORT="465"
SUPABASE_AUTH_SMTP_EMAIL="onboarding@resend.dev"
SUPABASE_AUTH_SMTP_PASSWORD="re_J5zMWHjM_E1MAvpTUFDG2fuMZ4V9CEA4a"
